/* || General setup */

 

 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #75c9b7;
}

body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}

/* || typography */

h1, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #c7ddcc;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

p, input, li {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  text-align: center;
}

h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 1px 1px 2px #c7ddcc;
}

h2 {
  font-size: 3rem;
  text-align: center;
  text-shadow: 1px 1px 2px black
}

h3 {
  font-size: 2.2rem;
  text-align: center;
  color: black;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

body > * {
  background-color: red;
  padding: 1%;
}

  aside {
  background-color: #d9138a;
  padding: 1%;
}

article{
   background-color: #12a4d9;
  padding: 1%;
}


main{
  background-color: #c7ddcc;
  padding: 1%;
}

footer{
  background-color: #e2d810;
  padding: 1%;
}


header{
  background-color: #322e2f;
  padding: 1%;
}

nav{
  background-color: #c7ddcc;
  padding: 1%;
}

h1 {
  flex: 5;
  text-transform: uppercase;
}

header img {
  display: block;
  height: 60px;
  padding-top: 20.15px;
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
  text-shadow: 1px 1px 4px white;
}

nav a, nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: #322e2f;

}

/* || main layout */

main {
  display: flex;
}

article, section {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  padding: 1%;
}

aside a {
  display: block;
  float: left;
  width: 50%;
}

aside img {
  max-width: 100%;
}

footer {
  margin-top: 10px;
}


form{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  text-align: center;
}